@font-face {
    font-family: Amsterdam;
    src: url("fonts/Amsterdam.ttf")
}

body {
    background-image: url("images/Argonath.png");
    width: 100%;
    font-family: Amsterdam;
}

.pierwsze {
    color: black;
    font-size: 25px;
}

header {
    position: relative;
    left: 600px;
    font-size: 100px;
    color: black;
}

.pierwszy {
    font-size: 30px;
    color: red;
}

.zdjecieAragorn {
    border-radius: 8px;
    position: relative;
    top: 100px;
    float: right;
    width: 25%;
    height: 25%;
}
