@font-face {
    font-family: Amsterdam;
    src: url("fonts/Amsterdam.ttf")
}

body {
    background-image: url(/images/elon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Amsterdam;
}

#xd {
    font-size: 100px;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}